In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir('../../../Git_Projects/skillfactory_rds/module_1/'))

['.git', '.ipynb_checkpoints', 'data.csv', '[SF-DST] Movies IMBD v3.0.ipynb']

In [74]:
data = pd.read_csv('data.csv', 
                 parse_dates=['release_date']
                )
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015

In [4]:
len(data)

1890

# Предобработка датасета

In [117]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['profit'] = data['revenue'] - data['budget']
data['release_month'] = data.release_date.dt.month
data['len_title'] = data.original_title.apply(len)
data['word_len'] = data.original_title.apply(lambda x: len(x.split()))

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
data[data.budget == data.budget.max()][['original_title','budget']]

        original_title     budget
491  The Warrior's Way  425000000

In [118]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [119]:
data[data.runtime == data.runtime.max()][['original_title','runtime']]

         original_title  runtime
1158  Gods and Generals      214

In [120]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [121]:
data[data.runtime == data.runtime.min()][['original_title','runtime']]

      original_title  runtime
769  Winnie the Pooh       63

In [122]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [123]:
round(data.runtime.mean(),0)

110.0

In [124]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [125]:
round(data.runtime.median(),0)

106.0

In [126]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [127]:
data['profit'] = data['revenue'] - data['budget']

In [128]:
data[data.profit == data.profit.max()][['original_title','profit']]

    original_title      profit
239         Avatar  2544505847

In [129]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [130]:
data[data.profit == data.profit.min()][['original_title','profit']]

        original_title     profit
491  The Warrior's Way -413912431

In [131]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [132]:
len(data[data.profit > 0])

1478

In [133]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [134]:
data[(data.release_year == 2008)].sort_values('profit', ascending=False)\
    [['original_title','profit']][:1]

      original_title     profit
600  The Dark Knight  816921825

In [135]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [136]:
data[(data.release_year >=2012)&(data.release_year <=2014)]\
    .sort_values('profit', ascending=False)[['original_title','profit']][-1:]

       original_title     profit
1246  The Lone Ranger -165710090

In [137]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [138]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [139]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [140]:
pd.DataFrame(data[data.profit > 0].genres.str.split('|')\
             .tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [141]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [142]:
pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts()

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Robert Rodriguez     11
Peter Farrelly       10
                     ..
Jason Winer           1
Edward Norton         1
Lars von Trier        1
Jeff Newitt           1
Michael Davis         1
Length: 998, dtype: int64

In [143]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [144]:
pd.DataFrame(data[data.profit>0].director.str.split('|')\
             .tolist()).stack().value_counts()

Ridley Scott         12
Steven Soderbergh    10
Clint Eastwood       10
Steven Spielberg     10
Tim Burton            9
                     ..
Rupert Wainwright     1
Jason Winer           1
Edward Norton         1
Jeff Newitt           1
Bill Paxton           1
Length: 814, dtype: int64

In [145]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [146]:
c = Counter()
for index,row in data.iterrows():
    names = row.director.split('|')
    for name in names:
        c[name] += row.profit
c.most_common(5)

[('Peter Jackson', 5202593685),
 ('David Yates', 3379295625),
 ('Christopher Nolan', 3162548502),
 ('J.J. Abrams', 2839169916),
 ('Michael Bay', 2760938960)]

In [147]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [148]:
c = Counter()
for index,row in data.iterrows():
    names = row.cast.split('|')
    for name in names:
        c[name] += row.profit
c.most_common(5)

[('Emma Watson', 6666245597),
 ('Daniel Radcliffe', 6514990281),
 ('Rupert Grint', 6408638290),
 ('Ian McKellen', 6087375777),
 ('Robert Downey Jr.', 5316030161)]

In [149]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [150]:
c = Counter()
for index,row in data[(data.release_year == 2012)].iterrows():
    names = row.cast.split('|')
    for name in names:
        c[name] += row.profit
c.most_common()[-1]

('Kirsten Dunst', -68109207)

In [151]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [152]:
data.budget.mean()
pd.DataFrame(data[data.budget > data.budget.mean()]\
             .cast.str.split('|').tolist()).stack().value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Phaldut Sharma        1
Jeffrey Garcia        1
Ian Holm              1
Nelsan Ellis          1
Dallas Roberts        1
Length: 1508, dtype: int64

In [153]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [154]:
pd.DataFrame(data[data.cast.str.contains("Nicolas Cage")]\
             .genres.str.split('|').tolist()).stack().value_counts()[:1]

Action    17
dtype: int64

In [155]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [156]:
pd.DataFrame(data.production_companies.str.split('|')\
             .tolist()).stack().value_counts()

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Yash Raj Films                              1
Kramer & Sigman Films                       1
Ilion Animation Studios                     1
Run It Up Productions Inc.                  1
Freestyle Releasing                         1
Length: 1772, dtype: int64

In [157]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [158]:
pd.DataFrame(data[(data.release_year == 2015)].production_companies\
             .str.split('|').tolist()).stack().value_counts()

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
                                          ..
Pretty Pictures                            1
DNA Films                                  1
Wildgaze Films                             1
Nickelodeon Movies                         1
Bold Films                                 1
Length: 246, dtype: int64

In [159]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [160]:
c = Counter()
for index, row in data[data.genres.str.contains("Comedy")].iterrows():
    names = row.production_companies.split(sep='|')
    for name in names:
        c[name]+=row.profit
display(c.most_common(5))

[('Universal Pictures', 8961545581),
 ('Walt Disney Pictures', 7669710326),
 ('Twentieth Century Fox Film Corporation', 5686960294),
 ('Columbia Pictures', 5646343696),
 ('DreamWorks Animation', 4789049764)]

In [161]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [162]:
c = Counter()
for index, row in data[(data.release_year == 2012)].iterrows():
    names = row.production_companies.split(sep='|')
    for name in names:
        c[name]+=row.profit
display(c.most_common(5))

[('Columbia Pictures', 2501406608),
 ('Universal Pictures', 1981011579),
 ('Marvel Studios', 1299557910),
 ('Warner Bros.', 1258020056),
 ('Relativity Media', 1032593938)]

In [163]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [164]:
c = Counter()
for index, row in data[(data.production_companies\
                        .str.contains("Paramount Pictures"))].iterrows():
    names = row.original_title.split(sep='|')
    for name in names:
        c[name]+=row.profit
display(c.most_common()[-1])

('K-19: The Widowmaker', -64831034)

In [165]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [166]:
grouped_data = data.groupby(['release_year'])['profit'].sum()            
grouped_data[grouped_data == grouped_data.max()]

release_year
2015    18668572378
Name: profit, dtype: int64

In [167]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [168]:
warner_df = data.loc[data['production_companies'].apply(lambda x: 'Warner Bros.' in x)]
grouped_df = warner_df.groupby(['release_year'])['revenue'].sum()
grouped_df.sort_values(ascending=False)[:1]

release_year
2014    3243064519
Name: revenue, dtype: int64

In [169]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [170]:
pd.DataFrame(data.release_month.tolist()).stack().value_counts()[:1]

9    227
dtype: int64

In [171]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [172]:
len(data[data.release_month.isin([6, 7, 8])])

450

In [173]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [174]:
pd.DataFrame(data[(data.release_month == 12 )|(data.release_month <3)] \
             .director.str.split('|').tolist()).stack().value_counts()[:1]

Peter Jackson    7
dtype: int64

In [175]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [176]:
dt_ry= data.release_year.unique()
pivot = data.loc[data['release_year'].isin(dt_ry)].pivot_table(values=['profit'],
index=['release_month'],
columns=['release_year'],
aggfunc='sum')
pivot.idxmax().value_counts()[:2]

6     7
12    4
dtype: int64

In [177]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [178]:
data['len_title'] = data.original_title.apply(len)

In [179]:
movie_pcompany=[]
for index,row in data.iterrows():
    movie_pcompany += [(row.imdb_id,company) for company\
                       in row.production_companies.split(sep='|')]
company = pd.DataFrame(movie_pcompany, columns=['imdb_id', 'company'])
display(company.head(1))

     imdb_id            company
0  tt0369610  Universal Studios

In [180]:
company.merge(data, on='imdb_id').groupby('company').agg('mean')\
                .sort_values('len_title', ascending=False)['len_title']

company
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: len_title, Length: 1772, dtype: float64

In [181]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [182]:
data['word_len'] = data.original_title.apply(lambda x: len(x.split()))

In [183]:
company.merge(data, on='imdb_id').groupby('company').agg('mean')\
                .sort_values('word_len', ascending=False)['word_len']

company
Four By Two Productions    12.0
Jim Henson Company, The    10.0
Dos Corazones               9.0
Polsky Films                9.0
The Saul Zaentz Company     9.0
                           ...
Jolie Pas                   1.0
Frantic Films               1.0
Outpost Studios             1.0
Cinelou Films               1.0
Danjaq                      1.0
Name: word_len, Length: 1772, dtype: float64

In [184]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [185]:
words=set()
for index,row in data.iterrows():
    words.update(set([word.lower() for word in row.original_title.split()]))
len(words)

2461

In [186]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin

In [187]:
top_procent_check = 1
top_procent_vote = np.percentile(data['vote_average'], (100-top_procent_check))
display(data[data.vote_average>top_procent_vote]\
        .sort_values(by='vote_average')[['original_title', 'vote_average','vote_count']])

                                     original_title  vote_average  vote_count
119                         Guardians of the Galaxy           7.9        5612
128                                       Gone Girl           7.9        3720
138                        The Grand Budapest Hotel           7.9        2802
370                                       Inception           7.9        9767
873                                     The Pianist           7.9         938
1082  The Lord of the Rings: The Return of the King           7.9        5636
1184                        The Wolf of Wall Street           7.9        4027
1192                               12 Years a Slave           7.9        2241
1801                                        Memento           7.9        2144
9                                        Inside Out           8.0        3935
34                                             Room           8.0        1520
118                                    Interstellar           8.0        6498
125                              The Imitation Game           8.0        3478
600                                 The Dark Knight           8.1        8432

In [188]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [189]:
from itertools import permutations
import itertools

In [190]:
actors=Counter()
for index, row in data.iterrows():
    a = row.cast.split('|')
    actors.update([ x for x in itertools.permutations(a, 2)])
actors.most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Daniel Radcliffe'), 8),
 (('Rupert Grint', 'Emma Watson'), 8),
 (('Emma Watson', 'Daniel Radcliffe'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Owen Wilson', 'Ben Stiller'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [191]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [192]:
directors_films = []
for index,row in data.iterrows():
    for dr in row.director.split('|'):
        directors_films += [(row.imdb_id, dr)]
directors_data = pd.DataFrame(directors_films, columns=['imdb_id', 'single_director'])
directors_data.head()

     imdb_id   single_director
0  tt0369610   Colin Trevorrow
1  tt1392190     George Miller
2  tt2908446  Robert Schwentke
3  tt2488496       J.J. Abrams
4  tt2820852         James Wan

In [193]:
filter=['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

data['get_profit'] = data['profit']
data['nonprofit'] = data['profit']

count = lambda x: len([ i for i in x if i  > 0])
noncount = lambda x: len([ i for i in x if i <= 0])

dir_films = directors_data.merge(data, on='imdb_id').groupby('single_director')\
                .aggregate({"imdb_id": len, "get_profit": count, "nonprofit": noncount})
dir_films['profit_films'] = dir_films.get_profit / dir_films.imdb_id
dir_films.reset_index(inplace=True)
dir_films[dir_films.single_director.isin(filter)]\
            .sort_values(by='profit_films', ascending=False)[:1]

       single_director  imdb_id  get_profit  nonprofit  profit_films
151  Christopher Nolan        8           8          0           1.0

In [194]:
answer_ls.append(4)

# Submission

In [195]:
len(answer_ls)

36

In [197]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4