In [1]:
import numpy as np # linear algebra
import pandas as pd

In [3]:
df = pd.read_csv('test.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3837 entries, 0 to 3836
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              3837 non-null   object
 1   brand                 3837 non-null   object
 2   color                 3837 non-null   object
 3   fuelType              3837 non-null   object
 4   modelDate             3837 non-null   float64
 5   name                  3837 non-null   object
 6   numberOfDoors         3837 non-null   float64
 7   productionDate        3837 non-null   float64
 8   vehicleConfiguration  3837 non-null   object
 9   vehicleTransmission   3837 non-null   object
 10  engineDisplacement    3837 non-null   object
 11  enginePower           3837 non-null   object
 12  description           3837 non-null   object
 13  mileage               3837 non-null   float64
 14  Комплектация          3837 non-null   object
 15  Привод                3837 non-null   object
 16  Руль                  3837 non-null   object
 17  Состояние             3837 non-null   object
 18  Владельцы             3837 non-null   object
 19  ПТС                   3837 non-null   object
 20  Таможня               3837 non-null   object
 21  Владение              1753 non-null   object
 22  id                    3837 non-null   int64
dtypes: float64(4), int64(1), object(18)
memory usage: 689.6+ KB

In [4]:
sample_submission = pd.read_csv('sample_submission.csv')

In [5]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3837 entries, 0 to 3836
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3837 non-null   int64
 1   price   3837 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 60.1 KB